@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

:root {
  --primary-color: #651FD7;
  --secondary-color: #FE83BA;
  --background-color: #FFFFFF;
  --surface-color: #FFFFFF;
  --on-background-color: #000000;
  --on-primary-color: #FFFFFF;
  --on-secondary-color: #FFFFFF;
  --on-surface-color: #000000;
}